/* general styling */
* ::before ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    Font size: 15px;
    font-family: 'Lexend Deca', sans-serif;

}
span{
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    word-spacing: 0.2rem;
}

p{
    width:24ch;
    padding-left: 2.5rem;
    padding-bottom: 2.2rem;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5rem;
    margin: 0;
}
img{
    width: 60px;
    padding-top: 3rem;
    padding-left: 2.5rem;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 2rem 0 2rem 2.5rem;  
    margin: 0;
}


/* styling classes */
.heading-color{
    color:  hsl(0, 0%, 95%);
}
.text-color{
    color: hsla(0, 0%, 100%, 0.75);
}
.button-background-color{
    background-color:  hsl(0, 0%, 95%);
}
.button-style{
    border-style: hidden;
    border-radius: 100vmax;
    width: 8rem;
    padding: 1rem;
    margin-left: 2.5rem;
    cursor: pointer;
}

.sedan{
    background-color: hsl(31, 77%, 52%);
    border-radius: 0.6rem 0 0 0.6rem ;
}
.suv{
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    background-color: hsl(179, 100%, 13%) ;
    border-radius: 0 0.6rem 0.6rem 0;
}

.button1 span{
    color: hsl(31, 100%, 50%);
    padding: 15px 7px;
}
.button2 span{
    color: hsl(184, 97%, 27%);
    padding: 15px 7px;
}
.button3 span{
    color: hsl(178, 96%, 20%);
    padding: 15px 7px;
}

.attribution{
    display: flex;
    align-items: baseline;
    justify-content:center;
    flex-wrap: wrap;
}
.attribution p{
    width: fit-content;
}

/* effects */
@media (hover:hover){
    .button1:hover{
        background-color:hsl(31, 77%, 52%);
        border-color: white;
        border-style: solid;
    }
    .button1 span:hover{
        color: white;
    }
    
    .button2:hover{
        background-color:hsl(184, 100%, 22%);
        border-color: white;
        border-style: solid;
    }

    .button2 span:hover{
        color: white;
    }
    .button3:hover{
        background-color:hsl(179, 100%, 13%);
        border-color: white;
        border-style: solid;
    }
    
    .button3 span:hover{
        color: white;
    }
}

@media (hover:none){
}

/* content view for mobile */
@media screen and (min-width: 370px) and (max-width:500px){
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 360px;
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content:center;
        width: 20rem;
        height: 30rem;
    }
    .sedan{
        border-radius: 0.6rem 0.6rem 0 0;
    } 
    .luxury{
        border-radius: 0 0 0.6rem 0.6rem;
    }
}


@media screen and (min-width: 1440px){
   
    main{
        height: 90vh;
        display: flex;
        justify-content: center;
        align-content: center;
        overflow: hidden;
    }

    section{
        height: 85vh;
        display: flex;
        justify-content: center;
        overflow: hidden;
        align-items: center;
            
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: left;
        width: 18rem;
        height: 28rem;   
    }
    
}